<h2>
    <a href="" ui-sref="dashboard.comparisons">Comparisons</a> /
    <a href="" ui-sref="dashboard.comparison({id:id})" ng-repeat="comparison in comparisons">{{ comparison.id }}</a>
</h2>

<h3>Assign</h3>

<div ng-if="sets">
    <p>This comparison is currently associated with the following sets:</p>

    <ul class=entries>
        <li ng-repeat="set in sets">
            {{ set.info.action }} {{ set.info.system }}: {{ set.info.name }}
            ({{ set.length }} diff{{ set.length != 1?'s':'' }})
            <ul>
                <li>
                    <a href="" ui-sref="dashboard.set({id:set.id})">view</a> set
                    |
                    <a href="" ui-sref="dashboard.comparison({id:set.comparison.id})">show</a> set's diffs on this
                    page
                </li>
            </ul>
        </li>
    </ul>
</div>

<div ng-if="diffs.choices.length == 0">
    <p>There are no remaining unassigned diffs. To assign diffs to new sets, choose one of the "show set's diffs" links
        above.</p>
</div>

<div ng-if="diffs.choices.length > 0">
    <form action="" method=post class=add-entry>
        <input type=hidden name=id value={{ id }}>
        <dl>
            {{ render_multiselect(form.diffs, size=form.diffs.choices|length) }}
            {{ render_field(form.action) }}
            {{ render_field(form.system) }}
            {{ render_field(form.name) }}
            <dd><input type=submit value=Add>
        </dl>
    </form>
</div>
