{% macro render_errors(field) %}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}


{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {{ render_errors(field) }}
  </dd>
{% endmacro %}


{# Customize the WTForms output of a select-multiple field:
    Add a "title" field. This enables a browser tooltip containing the full
    label.  This helps with long labels that would normally be cut off by the
    form width.
    Ref:
      http://bear-z.com/python/render-bootstrap-3-forms-with-wtforms-and-jinja/
      http://stackoverflow.com/questions/294040/how-to-expand-select-option-width-after-the-user-wants-to-select-an-option

  Params:
    size - This is the count of the field options. This ensures that the form
    requires no vertical scrollbar

#}
{% macro render_multiselect(field, size) %}
  <dt>{{ field.label }}
  <dd>
    <select id="diffs" multiple name="diffs" size="{{ size }}">
      {% for value, label, _ in field.iter_choices() %}
      <option value="{{ value }}" title="{{ label }}">{{ label }}</option>
      {% endfor %}
    </select>
  {{ render_errors(field) }}
  </dd>
{% endmacro %}
