{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field, render_multiselect %}
{% block body %}
<h2><a href="{{ url_for('comparisons') }}">Comparisons</a> / <a href="{{ url_for('comparison', id=id) }}">{{ id|truncate(6, True) }}</a></h2>

<h3>Assign</h3>

{% if sets %}
<p>This comparison is currently associated with the following sets:</p>

<ul class=entries>
{% for set in sets %}
<li>{{ set.info.action }} {{ set.info.system }}: {{ set.info.name }}
({{ set|length }} diff{% if set|length != 1 %}s{% endif %})
<ul>
  <li>
  <a href="{{ url_for('set_edit', escaped_id=set.quote()) }}">view</a> set
  |
  <a href="{{ url_for('comparison', id=id, include=set.quote()) }}">show</a> set's diffs on this page
  </li>
</ul>
</li>
{% endfor %}
</ul>
{% endif %}

{% if form.diffs.choices|length == 0 %}
<p>There are no remaining unassigned diffs. To assign diffs to new sets, choose one of the "show set's diffs" links above.</p>
{% else %}
<form action="{{ url_for('set_add') }}" method=post class=add-entry>
  <input type=hidden name=id value={{ id }}>
  <dl>
    {{ render_multiselect(form.diffs, size=form.diffs.choices|length) }}
    {{ render_field(form.action) }}
    {{ render_field(form.system) }}
    {{ render_field(form.name) }}
    <dd><input type=submit value=Add>
  </dl>
</form>
{% endif %}

{% endblock %}
