{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}
{% block body %}
  <p>Assign at least one diff from this comparison to a new or existing set.
  <form action="{{ url_for('set_add') }}" method=post class=add-entry>
    <input type=hidden name=id value={{ id }}>
    <dl>
      {{ render_field(form.diffs, size=form.diffs.choices|length) }}
      {{ render_field(form.action) }}
      {{ render_field(form.system) }}
      {{ render_field(form.name) }}
      <dd><input type=submit value=Add>
    </dl>
  </form>
{% endblock %}

