{% extends "layout.html" %}
{% from "_formhelpers.html" import render_multiselect %}
{% block body %}
<h2><a href="{{ url_for('sets') }}">Sets</a> / 
  <small>{{ set.info.action }} {{ set.info.system }}: {{ set.info.name }}</small></h2>

{% if form.diffs.choices|length > 0 %}
<h3>Delete Diffs</h3>
<p>You may delete diffs from this set.
<form action="{{ url_for('set_update_diffs') }}" method=post class=add-entry>
  <input type=hidden name=escaped_id value={{ set.quote() }}>
  <dl>
    {{ render_multiselect(form.diffs, size=form.diffs.choices|length) }}
    <dd><input type=submit value="Delete Diffs From Set">
  </dl>
</form>

{% else %}
<h3>This set has no diffs</h3>
{% endif %}

{% if comparisons %}
<h3>In Comparisons</h3>
<p>This set is currently associated with the following comparisons:</p>

<ul class=entries>
{% for comp in comparisons %}
<li><a href="{{ url_for('comparison', id=comp.id) }}">{{ comp.id|truncate(6, True) }}</a>
({{ comp|length }} diff/s)
{% endfor %}
</ul>
{% endif %}

<h3>Delete Set</h3>
<p>If this set is invalid, consider deleting it:
<form action="{{ url_for('set_delete') }}" method=post>
  <input type=hidden name=escaped_id value={{ set.quote() }}>
  <dl>
    <dd><input type=submit value="Delete Set">
  </dl>
</form>
{% endblock %}

